allow system_server init:unix_dgram_socket sendto;
allow system_server wpa_socket:unix_dgram_socket sendto;

allow system_server self:capability sys_module;
allow system_server sysfs:file { read open write };
allow system_server adbd_socket:sock_file write;
allow system_server sdcard_internal:dir search;
allow system_server init_shell:binder call;
allow system_server sysfs_writable:file { write open };
allow system_server cache_backup_file:file relabelto;